@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #101011;
  --secondary-text-color: #43AB9F;
  --accent-color: rgb(73, 73, 248);
  --accent-color-dark: rgb(99, 99, 231);
  /* --accent-color: #FF5F77;
  --accent-color-dark: #FF395D; */
  --padding-inline-section: 20px;
  --background-color: #ffff;
  --ternary-color: #b9db92;
}

body {
  font-family: 'Poppins',sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Roboto',sans-serif;
  font-size: 1.25rem;
  color: var(--primary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* utility classes */
.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 600;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
/* nav bar */
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.hover-link {
  color: var(--primary-text-color);
}
.hover-link:hover{
  color: var(--accent-color);
  transition-property: 0.2s ease-out;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  /* we use importnt to make sure it remains white and not black
  as we predefined it as black */
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover{
  background-color: var(--accent-color-dark);   
}
.secondary-button{
  border: 0.5px solid var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
      color: var(--accent-color);
}
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 250px;
}

.nav-links {
  flex-basis: 730px;
  font-weight: bold;
}
.nav-links ul{
  justify-content: end;
  gap: 40px;
}
/* Header */
header {
  padding: 50px var(--padding-inline-section) 0;
}
.header-section {
  justify-content: center;
  gap: 50px;
}
/* header */
header {
    padding: 30px var(--padding-inline-section) 0;
}
.header-section {
    justify-content: center;
    gap: 50px;
}
.header-left {
    max-width: 40vw;
} 
.header-left h1 {
    margin-top: 20px;
}
.get-started-btn{
    margin-top: 20px;
}
.header-right img{
    justify-content: flex-end;
    width: 600px;
}
/* About-Us-Container */
.about-us-container{
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    max-width: 80%;
    gap: 30px;
}
/* Donation SECTION */
.donate-section{
    padding-top: 25px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}
.donate-header {
    text-align: center;
}
.donate-heading-text {
    margin-bottom: 20px;
}
.donate-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.donate-card {
    flex-direction: column;
    gap: 20px;
    height: 300px;
    /* max-width: 30%; */
    width: 350px;
    text-align: center;
    color: var(--accent-color);
    background: var(--ternary-color);
    border-radius: 40px;
    padding: 50px var(--padding-inline-section) 0;
}
.donate-card:hover{
    border: solid #F8EBD6 0.2px;
    transition: ease-in-out 0.5s;
}
.donate-text {
    color: var(--primary-text-color);
}
.donate-button:hover {
    color: var(--primary-text-color);
    background-color: var(--accent-color-dark);
    transition: 0.2s ease-in;
}
/* subfooter */
.subfooter{
    margin-top: 30px;
    background-color: var(--accent-color);
    padding: var(--padding-inline-section);
}
.footer-link{
    color: var(--primary-text-color);
}
.footer-link:hover {
    color: var(--background-color);
    transition: ease-in-out 0.3s;
}
.subfooter-container {
    justify-content: center;
    gap: 30px;
}
/* .donate-header {
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.donate-area{
    margin-top: 20px;
    justify-content: space-between;
    margin-block: 30px;
}
.donate-card {
    width: 30%;
    position: relative;
    min-height: 300px;
    background: black;
    background-size: cover;
    transition: 0.2s ease-out;
}
.donate-card:hover {
    box-shadow: 0 0 10px #888;
    transition: 0.2s ease-in-out;
} */