@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

:root {
  --primary-text-color: #101011;
  --secondary-text-color: #43AB9F;
  --accent-color: rgb(73, 73, 248);
  --accent-color-dark: rgb(99, 99, 231);
  /* --accent-color: #FF5F77;
  --accent-color-dark: #FF395D; */
  --padding-inline-section: 20px;
  --background-color: #ffff;
  --ternary-color: #b9db92;
}

h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Roboto',sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* utility classes */
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 600;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

/*NAVBAR*/
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.hover-link {
  color: var(--primary-text-color);
}
.hover-link:hover{
  color: var(--accent-color);
  transition-property: 0.2s ease-out;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  /* we use importnt to make sure it remains white and not black
  as we predefined it as black */
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover{
  background-color: var(--accent-color-dark);   
}
.secondary-button{
  border: 0.5px solid var(--accent-color);
  border-radius: 6px;
  font-weight: bold;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
      color: var(--accent-color);
}
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 200px;
}

.nav-links {
  flex-basis: 730px;
  font-weight: bold;
}
.nav-links ul{
  justify-content: end;
  gap: 40px;
}
/* Header */
header {
  padding: 50px var(--padding-inline-section) 0;
}
.header-section {
  justify-content: center;
  gap: 50px;
}

/*TODO LIST*/
body{
  background-color: var(--background-color);
}

.wrapper{
  max-width: 450px;
  margin: 60px auto;
  background: #fff;
  border-radius: 7px;
  background: var(--ternary-color);
}

.task-input{
  height: 52px;
  padding: 7px 20px;
}

.task-input img{
  position: absolute;
  top: 48%;
  height: 18px;
  transform: translate(17px, -50px);
}

.task-input input{
  height: 100%;
  width: 100%;
  padding: 0 20px 0 53px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  margin-top: 1rem;
}

.task-input input ::placeholder{
  color: #bfbfbf;
}

.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 37px 25px;
  border-bottom: 1px solid #ccc;
}

.task .settings{
  cursor: pointer;
  position: relative;
}

.settings .task-menu{
  background: #fff;
  padding: 5px 0;
  border-radius: 4px;
  z-index: 2;
  right: -5px;
  bottom: -65px;
  transition: 0.2s ease;
  transform-origin: top right;
  transform: scale(0);
  position: absolute;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.settings .task-menu.show{
  transform: scale(1);
} 

.task-menu li{
  height: 25px;
  width: 118px;
  font-size: 16px;
  margin-bottom: 2px;
  justify-content: flex-start;
  padding: 10px 15px;
}

.task-menu li:hover{
  background: #9494af;

}

.task-menu li i{
  padding-right: 8px;
}

.filters span:first-child{
   margin-left: 0;
}

.filters span{
  cursor: pointer;
  margin: 0 8px;
  font-size: 17px;
}

.controls .clear-btn{
  outline: none;
  border: none;
  color: #fff;
  padding: 7px 13px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  background: var(--accent-color);
}

.filters span.active{
  color: var(--accent-color);
}

.task-box{
  margin: 20px 25px;
}

.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.task-box .task :last-child{
  margin-bottom: 0;
  border-bottom: 0;
}

.task label{
  display: flex;
  padding: 10px;
  color: black;
  
}

.task label p.checked{
  text-decoration:line-through;
}

.task label p.checked{
  text-decoration: line-through;
}

.task label input{
  margin-right: 12px;
}

/*footer */
footer{
  margin-top: 20rem;
  padding-block: 80px;
  background-color: #456990;
  /* background-image: url(./assets/wave.svg);
  background-repeat: no-repeat;
  background-position: center; */
  background-size: 100%;
  padding: var(--padding-inline-section);
}
.footer-container {
  justify-content: center;
  gap: 30px;
}
.footer-text{
  color: white;
}